# Task 2

Please Upload the CSV file before running the notebook. Or set the path accordingly

In [86]:
import pandas as pd

path = '/content/task2.csv'

df = pd.read_csv(path)

In [73]:
# Glimpse of data
df.head(5)

            ID Segment type  ... Percentage It became a relationship
0  292890.8970          web  ...   0.000000                        0
1  292887.9870          web  ...   0.000000                        0
2  292894.0656       gender  ...   0.225255                        0
3  292887.1180          web  ...   0.000000                        0
4  292893.6561       gender  ...   0.211360                        0

[5 rows x 7 columns]

In [74]:
# Checking the data types of columns
df.dtypes

ID                          float64
Segment type                 object
Segment Description          object
Answer                       object
Count                       float64
Percentage                  float64
It became a relationship      int64
dtype: object

In [75]:
# checking the shape of data
df.shape

(1896, 7)

In [76]:
# Column names
df.columns

Index(['ID', 'Segment type', 'Segment Description', 'Answer', 'Count',
       'Percentage', 'It became a relationship'],
      dtype='object')

In [77]:
# Checking for missing values
df.isna().sum()

ID                          0
Segment type                0
Segment Description         0
Answer                      0
Count                       0
Percentage                  0
It became a relationship    0
dtype: int64

In [78]:
# Different types of universities
df['Segment Description'].unique().shape

(148,)

In [79]:
# Different types of Medium of usage
df['Segment type'].unique().shape

(4,)

In [80]:
# Different types of categories of usage
df['Answer'].unique().shape

(3,)

In [81]:
#Handling categorical value to numerical

df['Answer'] = df['Answer'].astype('category')
df['Segment type'] = df['Segment type'].astype('category')
df['Segment Description'] = df['Segment Description'].astype('category')



df['Answer'] = df['Answer'].cat.codes
df['Segment type'] = df['Segment type'].cat.codes
df['Segment Description'] = df['Segment Description'].cat.codes

In [82]:
# Splitting the data to train and test set

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test  = train_test_split(df.drop('It became a relationship', axis = 1), df['It became a relationship'] , test_size=0.2, random_state = 0)

In [84]:
from sklearn.metrics import accuracy_score, log_loss
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression


# Choosing Models

classifiers = [
    KNeighborsClassifier(3),
    LogisticRegression(random_state=0)]

In [85]:
# Applying Models to find Accuracy

for classifier in classifiers:
    model = classifier.fit(X_train, Y_train)
    print(classifier)
    print("model score: %.3f" % model.score(X_test, Y_test))

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')
model score: 0.863
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)
model score: 0.616